*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    .navbar-scss{
        background-color: #fff;
        padding: 15px 10px;
        box-shadow: 0 2px 2px 0 rgba(81, 81, 81, 0.5);
       
        
        .nav-link-scss{
            color: #000;
        }
    }
}
.display-4-scss{
    text-align: center;
    width: 100%;
    margin: 60px 0 20px 0;
}
p{
   text-align: center;
   margin: 0 auto;
   width: 45%;
   
}
.col-4{
    ul{
        list-style: none;
    }
}