* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
}
.container {
  width: 500px;
  margin: 0 auto;
  padding: 40px 5px;
  .btn {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    button {
      width: 40px;
      height: 40px;
      background-color: black;
      color: white;
    }
    input {
      width: 96%;
      height: 30px;
      border: 1px solid;
      font-size: 20px;
      padding: 0px 5px;
    }
  }
  #todo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 6px;
      line-height: 200%;
      i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
